@import "./colors.scss";

:root {
  --transition-property: all;
  --transition-time: 0.4s;
  --transition-function: ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

html {
  scroll-behavior: smooth;
  min-height: calc(100vh - 52px);
  transition: var(--transition-property) 0s var(--transition-function);
  min-width: 280px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--white);
}

button {
  cursor: pointer;
  border: none;
}
