.navigation {
  background-color: var(--main-background);
  color: var(--white);
  padding: 20px 0;

  .innerBlock {
    max-width: 1160px;
    margin: 0 auto;
  }

  .links {
    gap: 20px;
    a {
      color: var(--white);
      &:hover {
        border-bottom: 1px solid var(--accent);
      }
    }
  }
}
