.footer {
  background-color: #14181b;
  color: var(--white);
  padding: 40px 0 58px 0;

  .innerFooter {
    width: 1067px;
    margin: 0 auto;
  }

  .copyright {
    & > a {
      font-size: 18px;
      text-transform: uppercase;
      color: var(--accent);
      font-weight: 700;
      margin: 23px 0;
    }

    .description {
      width: 267px;
      font-size: 18px;
      margin-top: 35px;
    }

    p {
      color: var(--grey);

      & > .brand {
        color: var(--accent);
      }
    }
  }

  .followUs {
    width: 403px;
  }

  .socialImages {
    display: flex;
    flex-wrap: wrap; /* Wraps images to the next line if they don't fit horizontally */
    justify-content: space-between;
    width: 218px;
    & > div:nth-child(-n + 3) {
      margin-bottom: 10px;
    }
  }

  .socialLinks {
    display: flex;
    flex-direction: column;
    & > div:last-child {
      margin-bottom: 0;
    }
  }
}
